# MEDICAL APPOINTMENT / SHOWING OR NOT SHOWING UP

This dataset identifies patients that make appointments and tells us if they showed up or not at the end. 14 features in total that can help us find the pattern of why people don't show up when making appointments:<br />
<div display='flex'>
    -PatientId (flat) 39k to 1e15 aprox<br />
    -AppointmentID (float) 5e6 to 6e6 aprox<br />
    -Gender (String) F/M<br />
    -ScheduledDay (String) Format=YYYY-MM-DDTHH:MM:SSZ where the following chars are constant: [T,:,Z]<br />
    -AppointmentDay (String) Format=YYYY-MM-DDTHH:MM:SSZ where the following chars are constant: [T,:,Z]<br />
    -Age (float) -1 to 115<br />
    -Neighbourhood (String) Name of different Neightborhouds<br />
    -Scholarship (float) 0 to 1<br />
    -Hipertension (float) 0 to 1<br />
    -Diabetes (float) 0 to 1<br />
    -Alcoholism (float) 0 to 1<br />
    -Handcap (float) 0 to 1<br />
    -SMS_received (float) 0 to 1<br />
    -No-show (String) No/Yes<p />
Source: https://www.kaggle.com/joniarroba/noshowappointments<p />

### For proper analysis, non label data needs to be transformed into numerical values:
The following data is already numerical and progresive so no conversion is needed<br />
[PatientId, AppointmentID, Age, Scholarship, Hiperrension, Diabetes, Alcoholism, Handcap, SMS_received]<br />
The following data is not numerical but can be converted into progresive numerical data:<br />
[ScheduledDay, AppointmentDay]<br />
The following data is not numerical but can be converted into discrete numerical data:<br />
[Gender,No-show]<br />
The following data is not numerical but cannot be converted in progresive numerical data due to lack of information:<br />
[Neighbourhood] I don't see how neighbourhood contributes to any classification whithout being able to properly rank the neighbourhoods by another variable such as averache income, average travel time to hospital etc...
Since i dont have a basis for this ranking but makes sense that neighbourhood has weight here, i will convert into integer valuesbased on an alphabetic orther.

## Initial Data Analysis

In [1]:
groupNames=['Gender','ScheduledDay','AppointmentDay','Neighbourhood','No-Show']

In [2]:
import pandas as pd
import seaborn as sns
import numpy as ny
import matplotlib.pyplot as plt
import datetime

In [3]:
df=pd.read_csv('medicalappointments.csv')

In [4]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

#### Determine Data Types

In [5]:
df.describe() #This will help determine numerical types

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

Floating Point [PatientId, AppointmentID,Age, Scholarship, Hipertension, Diabetes, Alcoholism, Handcap, SMS_received]

##### Non Numerical Data
For the rest of the features i will have to create groups for each one and then get their size to get all possible values they can obtain

In [6]:
groupNames=['Gender','ScheduledDay','AppointmentDay','Neighbourhood','No-show']
group=[]
for i in range(0,len(groupNames)):
    group.append(df.groupby(by=groupNames[i]))
    print(group[i].size())

Gender
F    71840
M    38687
dtype: int64
ScheduledDay
2015-11-10T07:13:56Z    1
2015-12-03T08:17:28Z    1
2015-12-07T10:40:59Z    1
2015-12-07T10:42:42Z    1
2015-12-07T10:43:01Z    1
2015-12-07T10:43:17Z    1
2015-12-07T10:43:34Z    1
2015-12-07T10:43:50Z    1
2015-12-07T10:44:07Z    1
2015-12-07T10:44:25Z    1
2015-12-07T10:44:40Z    1
2015-12-07T10:45:01Z    1
2015-12-08T13:30:21Z    1
2015-12-08T13:30:41Z    1
2015-12-08T13:31:04Z    1
2015-12-08T13:31:21Z    1
2015-12-08T13:31:45Z    1
2015-12-08T13:32:14Z    1
2015-12-08T13:32:34Z    1
2015-12-08T13:33:09Z    1
2015-12-08T13:33:28Z    1
2015-12-08T13:33:50Z    1
2015-12-08T13:58:50Z    1
2015-12-08T13:59:33Z    1
2015-12-08T14:00:52Z    1
2015-12-08T14:01:28Z    1
2015-12-08T14:02:04Z    1
2015-12-08T14:02:31Z    1
2015-12-08T14:03:00Z    1
2015-12-08T14:03:23Z    1
                       ..
2016-06-08T17:23:59Z    1
2016-06-08T17:24:34Z    1
2016-06-08T17:37:08Z    1
2016-06-08T17:42:29Z    1
2016-06-08T17:45:18Z    1
2016-06-08T17:50:25Z    1
2016-06-08T18:07:30Z    1
2016-06-08T18:09:45Z    1
2016-06-08T18:15:52Z    1
2016-06-08T18:20:04Z    1
2016-06-08T18:20:13Z    1
2016-06-08T18:21:20Z    1
2016-06-08T18:21:46Z    1
2016-06-08T18:24:25Z    1
2016-06-08T18:25:45Z    1
2016-06-08T18:28:07Z    1
2016-06-08T18:28:21Z    1
2016-06-08T18:28:35Z    1
2016-06-08T18:30:42Z    1
2016-06-08T18:34:10Z    1
2016-06-08T18:34:11Z    1
2016-06-08T18:52:20Z    1
2016-06-08T19:02:15Z    1
2016-06-08T19:08:20Z    1
2016-06-08T19:14:25Z    1
2016-06-08T19:32:25Z    1
2016-06-08T19:32:56Z    1
2016-06-08T19:33:23Z    1
2016-06-08T19:58:52Z    1
2016-06-08T20:07:23Z    1
Length: 103549, dtype: int64
AppointmentDay
2016-04-29T00:00:00Z    3235
2016-05-02T00:00:00Z    4376
2016-05-03T00:00:00Z    4256
2016-05-04T00:00:00Z    4168
2016-05-05T00:00:00Z    4273
2016-05-06T00:00:00Z    3879
2016-05-09T00:00:00Z    4520
2016-05-10T00:00:00Z    4308
2016-05-11T00:00:00Z    4474
2016-05-12T00:00:00Z    4394
2016-05-13T00:00:00Z    3987
2016-05-14T00:00:00Z      39
2016-05-16T00:00:00Z    4613
2016-05-17T00:00:00Z    4372
2016-05-18T00:00:00Z    4373
2016-05-19T00:00:00Z    4270
2016-05-20T00:00:00Z    3828
2016-05-24T00:00:00Z    4009
2016-05-25T00:00:00Z    3909
2016-05-30T00:00:00Z    4514
2016-05-31T00:00:00Z    4279
2016-06-01T00:00:00Z    4464
2016-06-02T00:00:00Z    4310
2016-06-03T00:00:00Z    4090
2016-06-06T00:00:00Z    4692
2016-06-07T00:00:00Z    4416
2016-06-08T00:00:00Z    4479
dtype: int64
Neighbourhood
AEROPORTO                 8
ANDORINHAS             2262
ANTÔNIO HONÓRIO         271
ARIOVALDO FAVALESSA     282
BARRO VERMELHO          423
BELA VISTA             1907
BENTO FERREIRA          858
BOA VISTA               312
BONFIM                 2773
CARATOÍRA              2565
CENTRO                 3334
COMDUSA                 310
CONQUISTA               849
CONSOLAÇÃO             1376
CRUZAMENTO             1398
DA PENHA               2217
DE LOURDES              305
DO CABRAL               560
DO MOSCOSO              413
DO QUADRO               849
ENSEADA DO SUÁ          235
ESTRELINHA              538
FONTE GRANDE            682
FORTE SÃO JOÃO         1889
FRADINHOS               258
GOIABEIRAS              700
GRANDE VITÓRIA         1071
GURIGICA               2018
HORTO                   175
ILHA DAS CAIEIRAS      1071
                       ...
PARQUE INDUSTRIAL         1
PARQUE MOSCOSO          802
PIEDADE                 452
PONTAL DE CAMBURI        69
PRAIA DO CANTO         1035
PRAIA DO SUÁ           1288
REDENÇÃO               1553
REPÚBLICA               835
RESISTÊNCIA            4431
ROMÃO                  2215
SANTA CECÍLIA           448
SANTA CLARA             506
SANTA HELENA            178
SANTA LUÍZA             428
SANTA LÚCIA             438
SANTA MARTHA           3131
SANTA TEREZA           1332
SANTO ANDRÉ            2571
SANTO ANTÔNIO          2746
SANTOS DUMONT          1276
SANTOS REIS             547
SEGURANÇA DO LAR        145
SOLON BORGES            469
SÃO BENEDITO           1439
SÃO CRISTÓVÃO          1836
SÃO JOSÉ               1977
SÃO PEDRO              2448
TABUAZEIRO             3132
UNIVERSITÁRIO           152
VILA RUBIM              851
Length: 81, dtype: int64
No-show
No     88208
Yes    22319
dtype: int64

## Restructurization for Analysis
Thanks to the previous analysis now we know all data types and what needs to be done to transorm it in useful data, so let's do it

#### Gender

In [7]:
df['Gender']=df['Gender'].replace(to_replace='F',value=0)
df['Gender']=df['Gender'].replace(to_replace='M',value=1)

#### Dates
This part is very complex, in my opinion many features can be extracted from the date as it is in the current format:
-Year<br />
-Month<br />
-Day<br />
-Weekday from 0 to 6 where 0 is monday<br />
-Time will not be considered since seems to be missing

In [37]:
Ayear=df['AppointmentDay']
Amonth=df['AppointmentDay']
Aday=df['AppointmentDay']
Aweekday=df['AppointmentDay']
Syear=df['ScheduledDay']
Smonth=df['ScheduledDay']
Sday=df['ScheduledDay']
Sweekday=df['ScheduledDay']

In [38]:
for i in range(1,len(Ayear)):
    cYear=Ayear[i][0:4]
    cMonth=Amonth[i][5:7]
    cDay=Aday[i][8:10]
    cY=int(float(cYear))
    cM=int(float(cMonth))
    cD=int(float(cDay))
    Ayear.set_value(label=i,value=cY)
    Amonth.set_value(label=i,value=cM)
    Aday.set_value(label=i,value=cD)
    cDate=datetime.date(year=cY,month=cM,day=cD)
    Aweekday.set_value(label=i,value=cDate.weekday())

ValueError: could not convert string to float:

In [25]:
int?

In [15]:
today=datetime.date(year=2017,month=12,day=1)
print(today.weekday())

4